<p id="notice"><%= notice %></p>

<%= link_to 'Home', kinds_path, class: "btn btn-default btn-xs" %>


<br>
<br>
<br>

<div class="row">
    <div itemscope itemtype="http://schema.org/FoodEstablishment">  
       <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <h1 class="home-title">
      	     <span itemprop="addressLocality"><%= @kind.name %></span>
            </h1>   
      </div>
    </div>



<% if current_user.try(:is_admin) %>
  <%= link_to 'Edit', edit_kind_path(@kind), class: "btn btn-default" %>
<% end %>
</div>
</div>
