<div itemscope itemtype="http://schema.org/AboutPage">
<div class="row">
<div class="col-md-3"></div>


<div class="col-md-6">
<h2>About Us</h2>
<br>
<span itemprop="mainContentOfPage">
<p>the swille team loves drinks.</p>
<p>whether you're enjoying a glass of tea at the himalayan foothills or having a manhattan in manhattan, swille has you covered with a curated drink experience.</p>
<br>
<p>cheers!</p>
</div>
</span>
<div class="col-md-3"></div>
</div>
</div>