<h2>Privacy Statement</h2>
<h5>Last Revised Date: July 20, 2014</h5>

<br>
<br>

<div class="row">
	<div class="col-md-9">
	<p>
	  Swille.com ("Swille", "us", "our", or "Site") is a site that seeks to facilitate providing its users ("you", "user") with a curated drink experience.  To facilitate the experience, Swille collects information about users and uses that information to provide services.
	</p>
	<br>
	<p>
	  <em>Information we collect.</em>  <br> We collect information from you when you sign up to use our Site.  That information includes your name, email address, birth date, and gender.  If you use Facebook based login, we collect your name, email address, public profile, and friends that use Swille.  If we collect additional information via your Facebook profile, you will recieve a notice of it when you login for the first time.
	  <br>
	  We also passively collect information via Google Analytics, such as your browser, general location, and other browsing based infromation.  Google Analytics opt-out: <a href="https://tools.google.com/dlpage/gaoptout" alt="Opt Out">Google Analytics Opt-Out</a>.
	</p>
	<br>
	<p>
	 <em>Technology We Use.</em>  <br> 
	   We use cookies to collect information.  If you don't like cookies, there are a number of services you can use to block cookies on your browser.  
	</p>
	<br>
	<p>
	 <em>How We Use Your Information.</em>  <br> 
	  We use your information to understand what our users want with drinks and how to help them access the best drink experiences.  We may use it for other purposes for our business as we grow - such as personalizing recommendations for drinks and/or experiences.  
	  <br>
	  We do not plan to sell your personal information.  We may sell or share general statistical information to third parties.  For example, women ages 25-30 like wine-based experiences in San Francisco.  
	</p>
	<br>
	<p>
	 <em>How Long We Store Your Information.</em>  <br> 
	  We will store your information as long as we think it could be helfpul to our business purposes.  This may be indefinitely.  If you're uncomfortable with that, don't use Swille.
	</p>
	<br>
	<p>
	<em>How Long We Will Share Your Information</em>  <br> 
	  We share information with those that provide us services, such as our hosting, payment, authentication, and other service providers.  <strong>We are not responsible for any privacy practices of 3d parties.  We recommend that you read the privacy policies for each site that you visit.</strong>  If we actively share any information with others, we will have information sharing agreements in place that restrict their usage of your information.  
	</p>
	<br>
	<p>
	<em>Contact Us</em>  <br> 
	  If you'd like more information about our privacy practices, feel free to contact us:  <a mailto:"privacy@swille.com">privacy@swille.om</a>.
	</p>

	<br>
	<br>

	</div>
</div>