


 <% @places.each do |place| %>     
    <div class="box panel panel-default">
        <div id="image-wrapper">
        <span itemprop="photo"><%= link_to image_tag(place.image.url(:medium)), place, class: "hover" %></span>
        
         <p class="image-text text-center"> <span itemprop="name">
                <%= place.name %>
            </span>
          <br>
         
            <span itemprop="servesCuisine"><%= ["beer", "chocolate" ,"cocktail", "coffee", "tea", "wine", "juice"] [place.kind] %>
            </span>
          </p>
            
        </div>


    </div>
<% end %>

