<div class="row">

	 <%= render 'pages/home' %> 
</div>

<div class="row">
<div class="col-md-12">
		<div id="cities" class="transitions-enabled">
		<% @cities.each do |city| %>     



		     <div class="box">   
		        

			       <%= link_to_unless city.image.content_type == 'image/gif', image_tag(city.image.url(:medium)), city %>
			   
		           <% if city.admin_user == current_admin_user %>
		            <div class="actions">
		                <%= link_to 'Edit', edit_city_path(city) %>
		                <%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %>
		            </div>
		            <% end %>
		      </div>


		<% end %>
		</div>
</div>


<div class="blackout"></div>
</div>


									
									
									
</div>